body {
    background-color: lightgray;}

.apis-testing {
    margin: 20px 0;}

    .games-container .res-container .results {
        display: inline-block;
        border: 1px solid black;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;}

        .games-container .res-container .results .name {
            text-align: center;
            display: block;}

        .games-container .res-container .results .cards {
            text-align: center;
            display: inline-block;}