<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blackjack</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bj.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/spade.png') }}">
    </head>
    <body>
        <h2>Bot Wars - Blackjack</h2>
        <div class="apis-testing">
            <button id="hit">Hit</button>
            <button id="hold">Hold</button>
        </div>
        <div class="scores">
            <div class="games-count">
                <div>Total played</div>
                <div class="total-played"></div>
            </div>
            <div class="games-players">
            </div>
        </div>
        <div class="games-container">
        </div>
        <script src="{{ url_for('static', filename='js/jQuery-1.11.3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bot.js') }}"></script>
        <script src="{{ url_for('static', filename='js/view.js') }}"></script>
    </body>
</html>