<!DOCTYPE html>
<html lang="en">
    <head>
        <title>jebem_picke</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bj.css') }}">
    </head>
    <body>

        <article class="content">

            <p>kitadjoka</p>

        </article>

        <script src="{{ url_for('static', filename='js/jQuery-1.11.3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/views.js') }}"></script>
        <script src="{{ url_for('static', filename='js/apiCalls.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bot.js') }}"></script>
        <script>
            $(document).ready(function () {
                window.bot = {};
            });
        </script>
    </body>
</html>